*{ 
    margin: 0; /*resetea los margenes por defecto que tienen los elementos html*/
    padding: 0; /*resetea el padding (margen interno) de los elementos html*/
}

main{
    width: 80%; /*ancho expresado en porcentaje*/
    margin: auto; /*la propiedad margin con el valor auto, centra verticalmente*/
   }

body
{
	font-family: arial;
	color: #3B3B3B;	
}

header
{
	background-color: #3B3B3B;
	padding: 15px;
    border-bottom: 5px #3B3B3B solid;
    
}
/* buscar y lupa */
.buscador{
    width: 600px;
    height: 30px;
    font-size: 15px;
    margin-left: 250px;
}
.lupa-buscar{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
    vertical-align: bottom;
}
/* fin buscar y lupa */

.logoempresa
{
    width: 80px;
    margin-left: 50px;
}

/*NAV */
nav{
    background-color: #636363;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 50px;
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style: none;
    padding: 10px 0px;
}
.menu a{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
.menu a:hover{
    background-color: #fff;
    color:#11588d;
}
/*NAV */



h2
{
    text-align: center;
    margin-bottom:50px;
}

footer
{

    background-color: #3B3B3B;
    padding: 35px 75px 120px 75px;
}

.cajafooter
{  
    float:left;
    width: 33.33%;
    text-align: center;
   
}

.titulofooter
{
    color:white; 
    font-weight: bold;
    margin-bottom: 5px;
}

.contfooter
{
    color: white;
}

.logoredes
{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}


/*Especiales para Index.html (Pagina inicio)*/

.secmain
{   
}

/* slider */
.container{
    margin:auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  
}
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}
ul.slider li{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
transition: opacity .5s;

}
ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
ul.slider li:first-child{
  opacity: 1;

}
ul.slider li:target{
  opacity: 1;
}
.menuslider{
text-align: center;
margin: 20px;
}

.menuslider li{
display: inline-block;
text-align: center;
}

.menuslider li a{
display: inline-block;
color: white;
text-decoration: none;
background-color: grey;
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: 100%;
}
/* fin slider */

.cajainicio
{
    margin-top: 30px;
    float:left;
    width: 33.33%;
    text-align: center;
}

.enfermedades
{
    color: white;
    background-color: #3B3B3B;
    border-radius:10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 140px;
}

.vacunas
{
    color: white;
    background-color: #3B3B3B;
    border-radius:10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 80px;    
}

.mapahospital
{
    color: white;
    background-color: #3B3B3B;
    border-radius:10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.icono1
{
    font-size: 50px;
    margin-bottom: 20px;

}

.icono2
{
    font-size: 50px;
    margin-bottom: 20px;

}

.icono3
{
    font-size: 50px;
    margin-bottom: 20px;
    
}

.sintomas
{
margin-bottom: 30px;
}
.sintomasimg
{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

/*Para mapa de mapa.html*/
.mapamapa
{
    text-align: center;
    margin-bottom: 50px;
}


/* Para enfermedades.html*/

.boxpadreenf
{
    height:250px;
    width: 1100px;
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.cajaenfermedad
{
    width: 300px;
    padding: 20px;
    float:left;
}
.imgenfermedadbox
{
    text-align: left;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.cajaenfermedad2
{
    padding-top: 20px;
    padding-right: 100px;
    margin-bottom: 30px;
    width: 600px;
    float:left;
    
    
}

.desenfermedad
{
    text-align: left;
}
.verdetalle
{
    margin-top:10px;
    color: white;
    background-color: #636363;
    border-radius: 5px;
    margin-right: 500px;
    padding: 5px;
}
    

/* Para coronavirus.html */

.covidimg
{
    height: 320px;
    width: 500px;
    border-radius: 10px;
}

.divimagen
{
width: 1100px;
height: 320px;
margin-bottom: 50px;
}

.divparrafocov
{
    float:right;
    width: 400px;
    padding-right: 140px;
}

.titleformcovid
{
    text-align: center;
    margin-bottom: 30px;
}
.sectionsintform
{
height: 600px;

}
.boxform
{
    width: 400px;
    margin-top:10px;
    margin-bottom: 20px;
    padding-left: 100px;

}
.boxform2
{
    width: 400px;
    padding-left: 150px;: 
    margin-top:10px;
    margin-bottom: 20px;
    position: relative;
    top: -440px; left: 550px; bottom:100px;
    
}

.campos
{
    margin-bottom: 10px;
    border-radius: 5px;

}

.leyendsint
{
    margin-bottom: 20px;
}

.buscadorpais
{
    margin-right: 300px;
}

.divsintomas
{
    width: 500px;
    height: 200px;
    margin-bottom: 50px;
}
.sintomasimg2
{
    height:100px; 
    width:180px;
    float: left;
}

.divprecaucion
{
    height: 500px;
}

.precaucionimg
{
    height:200px; 
    width:25%;
    float: left;
}

.hospitalespepadre
{
    height: 400px;
}

.hospitalespehijo
{
    width: 50%;
    float: left;
}

.titledurand
{
    text-align: left;
    margin-bottom:10px;
}
.textdurand
{
    text-align: left;
    margin-bottom: 10px;
}

.imgdurand
{
    height: 150px;
    width: 200px;
}


/* Para contacto.html */

.divcontactoformpadre
{
    height: 300px;
}

.h3contacto
{
    margin-bottom: 15px;
}

.pdatoscontacto
{
    margin-bottom: 5px;
}

.formcontacto
{
    width: 50%;
    float:left;
}

.datoscontacto
{
    width: 50%;
    float:left;
}

.mapacontactohtml
{
    margin-bottom: 20px;
    text-align: center;
}

.contactoforminput
{
    margin-bottom: 10px;
    border-radius: 5px;
}
.consultaform
{
    height: 50px;
    width: 250px;
    border-radius: 5px;
}